.canvas {
	width: 500px;
	height: 600px;
	background-color: #4d0f00;
	/*padding: 1px; space surrounding content. But doing this changed its dimensions to 502 x 602px. Replace with overflow*/
	overflow: hidden; /*changes canvas back to original dimensions*/
	filter: blur(2px);
}

.frame {
	border: 50px solid black; /*shorthand*/
	width: 500px;
	padding: 50px; /*shorthand, increases space in top, bot, left and right*/
	margin: 20px auto; /*vertical 20px, horizontal auto. Moves the frame down 20 pixels and horizontally center it*/
}

.one {
	width: 425px;
	height: 150px;
	background-color: #efb762;
	margin: 20px auto;
	box-shadow: 0 0 3px 3px #efb762; /*soften edges*/
	border-radius: 9px; /*rounded corners*/
	transform: rotate(-0.6deg); /*rotates anti-clockwise*/
}

.two {
	width: 475px;
	height: 200px;
	background-color: #8f0401;
	margin: 0px auto 20px; /*remove its top margin, horizontally center it, and set its bottom margin to 20px*/
	box-shadow: 0 0 3px 3px #8f0401;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	transform: rotate(0.4deg);
}

.three {
	width: 91%; /*dont always have to use px*/
	height: 28%;
	background-color: #b20403;
	margin: auto;
	filter: blur(2px);
	box-shadow: 0 0 5px 5px #b20403;
	border-radius: 30px 25px 60px 12px; /*also accepts 4 values: top-left, top-right, bottom-right, bottom-left*/
	transform: rotate(-0.2deg);
}
.one, .two {
	filter: blur(1px);
}
